.performer-custom-field-counter {
    position: absolute;

    top: 0.4rem;
    right: 0.4rem;

    min-width: 2rem;
    height: 2rem;

    padding: 0 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.8);
    color: white;

    border-radius: 0.35rem;

    font-size: 0.9rem;
    font-weight: 700;

    z-index: 20;

    pointer-events: none;
}
